/*Iframe centros*/

.titulo-centros {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px;
}


#local {
    text-align: center;
    max-width: 100%;
}

.mapa {
    display: inline-block;
    margin: 20px;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#centros {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}